
<div class="layui-tab layui-tab-card think-bg-white">
    <div class="layui-tab-content think-box-shadow">
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <th class='text-left nowrap' width="120px">标题</th>
                <th class='text-left nowrap' width="150px">URL</th>
                <th class='text-left nowrap'>作者</th>
                <th>缩略图</th>
                <th>来源</th>
                <th>发布时间</th>
                <th>摘要</th>
                <th>操作</th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='text-left nowrap'>
                    {$vo.title}
                </td>
                <td class='text-left nowrap'>
                   {$vo.url}
                </td>
                <td class='text-left nowrap'>
                    {$vo.auth}
                </td>
                <td class='text-left nowrap'>
                    {$vo.thumb}
                </td>
                <td class='text-left nowrap'>
                    {$vo.comfrom}
                </td>
                <td class='text-left nowrap'>
                    {$vo.create_at}
                </td>
                <td class='text-left nowrap'>
                    {$vo.description}
                </td>
                <td class='text-left nowrap'>
                    <!--{if auth("testjob")}-->
                    <a class="layui-btn layui-btn-sm" data-title="编辑任务" data-modal='{:url("testjob")}?url={$vo.url}&type=content'>采集内容</a>
                    <!--{/if}-->
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>

