
<div class="layui-tab layui-tab-card think-bg-white">
    <div class="layui-tab-content think-box-shadow" style="overflow: hidden;">
        {if $type eq 'list'}
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <th class='text-left nowrap' width="120px">标题/URL</th>
                <th>操作</th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='text-left nowrap'>
                    {$vo.title|mb_substr=0,100}<br />
                    {$vo.url}
                </td>
                <td class='text-left nowrap'>
                    <!--{if auth("testjob")}-->
                    <a class="layui-btn layui-btn-sm layui-btn-normal" href='{:url("testjob")}?id={$id}&url={$vo.url}&type=content' target="_blank">查看采集内容</a>
                    <!--{/if}-->
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
        {else}
        {$data.content|raw}
        {/if}
    </div>
</div>

