{extend name="../../admin/view/main"}
{block name="button"}
<!--{if auth("add")}-->
<button data-modal='{:url("add")}' data-title="添加菜单类别" class='layui-btn layui-btn-sm layui-btn-primary'>添加菜单类别</button>
<!--{/if}-->

{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <div class="layui-tab-content think-box-shadow">
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <th class='text-left nowrap' width="120px">id</th>
                <th class='text-left nowrap' width="120px">菜单名称</th>
                <th class='text-left nowrap'>描述</th>
                <th class='text-left nowrap'>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr data-dbclick>
                <td class='text-left nowrap'>
                    {$vo.id}
                </td>
                <td class='text-left nowrap'>
                    {$vo.name}
                </td>
                <td class='text-left nowrap'>
                    {$vo.description}
                </td>
                <td class='text-left nowrap'>
                    {if $vo.status eq 1}<span style="color: green">启用</span>{else/}<span style="color: red">未启用</span>{/if}
                </td>
                <td class='text-left nowrap'>
                    <!--{if auth("submenus")}-->
                    <a class="layui-btn layui-btn-normal layui-btn-sm" data-title="管理子菜单" data-open='{:url("submenus",["typeid"=>$vo.id])}'>管理子菜单</a>
                    <!--{/if}-->
                    <!--{if auth("edit")}-->
                    <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑菜单类别" data-modal='{:url("edit",["id"=>$vo.id])}'>编 辑</a>
                    <!--{/if}-->
                    <!--{if auth("delete")}-->
                    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要永久删除此菜单类别吗？" data-action="{:url('delete')}" data-value="id#{$vo.id}" data-csrf="{:systoken('delete')}">删 除</a>
                    <!--{/if}-->
                    <!--{if auth("cache")}-->
                    <a class="layui-btn layui-btn-warm layui-btn-sm" data-title="更新缓存" data-modal='{:url("cache",["id"=>$vo.id])}'>更新缓存</a>
                    <!--{/if}-->
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
