<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">评论内容</label>
            <div class="layui-input-block">
                <textarea name='content'>{$vo.content|default=""}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否显示</label>
            <div class="layui-input-block">
                {foreach :config('constant.YesOrNo') as $k=>$v}
                <!--{if (!isset($vo.status) and $k eq '1') or (isset($vo.status) and $vo.status eq $k)}-->
                <input type="radio" name="status" checked value="{$k}" title="{$v}">
                <!--{else}-->
                <input type="radio" name="status" value="{$k}" title="{$v}">
                <!--{/if}-->
                {/foreach}
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <div class="layui-form-item text-center">
            <button class="layui-btn" type='submit' lay-filter="saveData">保存数据</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
        </div>
    </div>
</form>

{block name='script'}
<script>
    layui.form.render();
    require(['ckeditor'], function () {
        var editor;
        setTimeout(function () {
            if (editor) editor.destroy();
            editor = window.createEditor('[name="content"]');
        }, 100);

    });
</script>
{/block}
