{extend name="base" /}

{block name="body"}

<div class="am-container">
    <div class="am-margin-top-lg">
        <div class="am-alert am-alert-warning" data-am-alert>
            <div class="am-padding">
                <div class="am-text-center">
                    <h2>{$title}</h2>
                    <i class="am-icon-btn am-warning am-icon-warning" style="font-size:8rem;width:auto;"></i>
                    <p>这里好像没有你想要的内容</p>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}