{extend name="../../admin/view/main"}
{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <select name="city" xm-select="select1">
        <option value="1" disabled="disabled">北京</option>
        <option value="2" selected="selected">上海</option>
        <option value="3">广州</option>
        <option value="4" selected="selected">深圳</option>
        <option value="5">天津</option>
    </select>

    <select name="city" xm-select="select2">
        <option value="1" disabled="disabled">北京</option>
        <option value="2">上海</option>
        <option value="3" selected="selected">广州</option>
        <option value="4">深圳</option>
        <option value="5" selected="selected">天津</option>
    </select>
    <div class="layui-form-item">
        <label class="layui-form-label">复选框</label>
        <div class="layui-input-block">
            <input type="checkbox" name="like[write]" title="写作">
            <input type="checkbox" name="like[read]" title="阅读">
            <input type="checkbox" name="like[daze]" title="发呆">
        </div>
    </div>
    <div class="">
        <input type="checkbox" name="checkbox_field[]" value="2" title="lol_bus" lay-filter="checkbox_field_filter" lay-skin="primary"><input checked="" type="checkbox" name="checkbox_field[]" value="3" title="synthesize" lay-filter="checkbox_field_filter" lay-skin="primary"><input type="checkbox" name="checkbox_field[]" value="4" title="speed_game" lay-filter="checkbox_field_filter" lay-skin="primary"><input type="checkbox" name="checkbox_field[]" value="1" title="onebuy_bus" lay-filter="checkbox_field_filter" lay-skin="primary"><input type="checkbox" name="checkbox_field[]" value="5" title="qad_bus" lay-filter="checkbox_field_filter" lay-skin="primary"><input type="checkbox" name="checkbox_field[]" value="6" title="lolAD_bus" lay-filter="checkbox_field_filter" lay-skin="primary"><input type="checkbox" name="checkbox_field[]" value="7" title="devil_bus" lay-filter="checkbox_field_filter" lay-skin="primary">
    </div>
</div>
{/block}
{block name='style'}
<link rel="stylesheet" href="__ROOT__/static/plugs/layui/mods/formSelects-v4.css">
{/block}
{block name='script'}
<script>
    layui.form.render();
    layui.config({
        base: "__ROOT__/static/plugs/layui/mods/"
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use(['jquery','form', 'formSelects'], function(){

    });

</script>
{/block}