{extend name="../../admin/view/main"}
{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
        <div class="layui-card-body">
            {foreach $formFields['base'] as $key=>$vo}
            <div class="layui-form-item">
                <label class="layui-form-label">{$vo.title}</label>
                <div class="layui-input-block">
                    {$vo.form|raw}
                    <!--<p class="help-block">必填，请填写表字段名称，建议字符不要太长，一般4-20个英文字符</p>-->
                </div>
            </div>
            {/foreach}
            <div class="hr-line-dashed"></div>
            {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
            <div class="layui-form-item text-center">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveData">保存数据</button>
                <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name='style'}
<link rel="stylesheet" href="__ROOT__/static/plugs/layui/mods/formSelects-v4.css">
{/block}
{block name='script'}
<script>
    layui.form.render();
    layui.config({
        base: "__ROOT__/static/plugs/layui/mods/"
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use(['jquery', 'form',"{$layuiJsModels|raw}"], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            {$layuiJSinit|raw}
            form = layui.form;

        {$dependJS|raw}

        form.on('submit(saveData)', function (data) {
            {$formValidator|raw}
            {$formData|raw}
            //拦截layui自带的提交
            console.log(formData);
            return false;
        })
    });

    function checkForm(){
        //输入框
        var nameVal = $.vali.trim($('#name').val());
        if(nameVal === ''){
            $.msg.error("请至少选择一个");
            return false;
        }
        var namePattern = /^\d+$/;
        if(!namePattern.test(nameVal)){
            $.msg.error("请至少选择一个");
            return false;
        }

        //下拉框
        var nameVal = $('#city2 option:selected').val();
        if(nameVal == ''){
            $.msg.error("请至少选择一个");
            return false;
        }

        //复选框
        var checked = $("input[name='checkbox_field']:checked");
        if (checked.length == 0) {
            $.msg.error("请至少选择一个");
            return false;
        }
        var nameVal = [];
        $("input[type='checkbox'][name='checkThis']:checked").each(function(){
            nameVal.push($(this).val())
        })
        formData.name = nameVal.join(',');

        //单选框

    }



</script>
{/block}